.Profile {
  width: 270px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  outline: solid 1px green;
}

.Profile__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile__avatar {
  display: block;
  height: 50px;
  width: 50px;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.Profile__stats {
  display: flex;
}
